<nav>
    <div class="site-title">
        <a href="/"><h1>BlogIT</h1></a>
        <p>WELCOME TO BlogIT</p>
    </div>
    <div>
        <ul>
            <li><a href = "/">blogs</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
            <li><a href="/sign up">Sign up</a></li>
            <li><a href="/signin">signin</a></li>
        </ul>
    </div>
</nav>