<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found content">
        <h1>Page not Found!</h1>
        <p>Please check the url</p>
    </div>
</body>
<%- include("./partials/footer.ejs") %>
</html>